version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: smart_market_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: smart_market
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
